/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Lexend&display=swap');;

// Colors
$ibm-blue: #648fff;
$ibm-purple: #785ef0;
$ibm-maroon: #dc267f;
$ibm-orange: #fe6100;
$ibm-yellow: #ffb000;
$neof-green: #00af37;
$neof-grey: #333e47;

// Base document colors
$body-bg: $neof-grey;
$navbar-hl: $neof-green; // highlight color when hovering over navbar links
$footer-bg: $neof-grey; // footer
$sidebar-hl: $neof-green;

$link-color: $ibm-blue;

/*-- scss:rules --*/
body {
  font-family: "Lexend";
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend";
}
monofont {
  font-family: "Fira+Mono";
}

// css

/* Main part */
.topics {
  width: 100%;
}
/* sidebar */
.topicsList .topic {
  padding-left: 0px;
}
